<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Credential</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h2>Edit Credential</h2>
    <!-- The form now submits to your `updateNote` endpoint -->
    <form action="#" th:action="@{/credential/updateCredential}" th:object="${credentialForm}" method="POST">
        <input type="hidden" th:field="*{credentialid}" />
        <div class="form-group">
            <label for="url">url</label>
            <input type="text" th:field="*{url}" class="form-control" id="url" maxlength="20" required>
        </div>
        <div class="form-group">
            <label for="username">username</label>
            <input th:field="*{username}" class="form-control" id="username" rows="5" maxlength="1000" required></input>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input th:field="*{password}" class="form-control" id="password" rows="5" maxlength="1000" required></input>
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
